
img {
    height: 300px; width: 300px; font-size: 40px;
}
    
    
head {
    font-size: 14px;
}

 p { font-size: medium;}

 body {
     background-color: blue;
     font-family: 'Bangers', cursive;
 }

.thick-border {
    border-width: thick;
}
h1, h2 {
    font-family: 'Playfair Display', serif;
}