
img {
    height: 300px; width: 300px; font-size: 40px;
}
    
    
head {
    font-size: 14px;
}

 p { font-size: medium;}

 body {
     background-color: blue;
 }

.thick-border {
    border-width: thick;
}